body {
    background-color: black;
}


.grid-container {
    border-radius: 25px;
    height: 600px;
    display: grid;
    grid-template-rows: auto;    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    overflow: hidden;
}



.grid1 {   
    grid-row: 1;
}

.grid1 text {
    text-align: center;
    margin: 23px;
}

.grid2 {
    grid-row: 2;
}

.grid2 p {
    font-size: small;
    color: rgb(127, 207, 234)
}

.grid2 header {
    font-size: 30px;
    font-weight: bold;
}

.grid3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkblue;
    color: white;
}

.subgrid1 {
    grid-column: 1;
}

.subgrid2 {
    grid-column: 2;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
}

.subgrid3 {
    grid-column: 3;
}