header {
    font-family: var(--heading-font), Tahoma, Sans-Serif;
    background-color:rgb(255, 217, 0, .9);
    display: grid;
    grid-template-columns: 150px auto;
  }

  .logo {
      width: 80px;
      height: 60px;
      grid-column: 1;
  }

  footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #07451b;
    color:#ffd51e;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }      
  footer a{
    color:#ffd51e;
    text-decoration: none;
  }
  footer a:hover{
    color:#4499e3;
    background-color: #ffd51e;
  }
  footer p {
    font-size: 1.2em;
  }   
  footer p a:hover{
    text-decoration: underline;
  }
  
  footer .social img{
    padding-top: 15px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }